
// =============
// Colors
// =============

// $primary-color: $primary-color;
$primary-color: #0086D8;
$secondary-color: #FFFFFF;
$third-color: #F1F0F1;

$btn-primary: $primary-color;
$btn-secondary: #F7F7F7;
$btn-danger: #E24342;
$btn-sa-cancel: #B6B6B6; // sweet alert cancel bg

$border-color: #dbdbdb;
$dark-border-color: darken($border-color, 20%);

$primary-text-color: #9D9D9D;
$secondary-text-color: $primary-color;
$mid-text-color: #717171;
$light-text-color: #B9B9B9;

$selected-item-bg-color: #4EA0F4;
$selected-item-bg-color-2: #d8effc;


$success-text-color: #63A94F;

// $light-panel-color: #F7F7F7;
$light-panel-color: #D6D6D6;
$validation-error-color: #d84242;

$grid-icons-color: #B7B7B7;
