.ag-grid-wrapper {

  .ag-header {
    line-height: 35px;
    border-bottom: none;
    cursor: pointer;
    background : $selected-item-bg-color-2;
    color      : $primary-color;
    font-weight: 500;

    .ag-header-icon {
      margin-right: 10px;
    }

    .ag-header-cell {
      text-align: left;
      border-right: $agGridBorder;
    }

    .ag-header-cell.text-center {
      text-align: center;
      padding: 0;
    }

    .ag-header-cell.text-right {
      text-align: right;
    }

  }
}